<body background="../../../assets/img/FONDO_SUBPAGINAS.jpeg">
    <div class="container">
        <article>
            <h2 class="fw-bolder">______________________________________</h2>
                <h1 class="fw-bolder fst-italic">PRESTAMO DE LIBROS</h1> <br>
                <div class="row">
                    <div class="col-xl-6 col-lg-6  col-md-6  col-sm-6 col-6  ">
                            <form id="miForm"  autocomplete="off">
                              <h5 class="fst-italic">Bienvenido a nuestro registro para el prestamo de libros, por favor digiteme los datos pertinentes y asi podemos hacerte entrega temporal de nuestros libros.</h5> <br>
                              <label class="fw-bolder fst-italic">CATEGORIA</label><br>
          
                              <select class="form-select fst-italic" id="txtcategoria" >
                                <option selected>Categorias...</option>
                                <option value="Filosofia">Filosofia</option>
                                <option value="Ciencia">Ciencia</option>
                                <option value="Tecnologia">Tecnologia</option>
                                <option value="Literatura">Literatura</option>
                                <option value="Politica">Politica</option>
                                <option value="Arte">Arte</option>
                              </select><br>
                              
                              <label class="fw-bolder fst-italic">TITULO DEL LIBRO</label> <br>
                              <input type="text" class="form-control" id="txttitulo" > <br>
                              
                              <label class="fw-bolder fst-italic"> NOMBRE DEL AUTOR</label> <br>
                              <input type="text" class="form-control" id="txtautor" > <br>
          
                              <label class="fw-bolder fst-italic">TIEMPO DE PRESTAMO</label><br>
          
                              <select class="form-select fst-italic" id="txthorario">
                                <option selected>Tiempo...</option>
                                <option value="4 horas - 6 horas">4 horas - 6 horas</option>
                                <option value="8 horas - 10 horas">8 horas - 10 horas</option>
                                <option value="Un dia">Un dia </option>
                                <option value="2 dias">2 dias </option>
                                <option value="4 dias">4 dias</option>
                                <option value="Una semana">Una semana</option>
                              </select><br>
                    
                             
          
                              <button type="button" id="btnagregar" class="btn btn-primary fw-bolder fst-italic" onclick="procesar()" >Solicitar Prestamo</button>
                              <button type="button" id="btneditar" class="btn btn-warning fw-bolder fst-italic" onclick="actualizarfila()" >Editar</button>
                            
                              </form>
                     </div>
                     <h2 class="fw-bolder fst-italic">______________________________________</h2>
                     <div class="col-xl-6 col-lg-6  col-md-6  col-sm-6 col-6  ">
                         
                     </div>
                 </div>
                 <br><br>
                 <div id="cuadro" style="display: none">
              
                    <table class="table table-hover table-dark fst-italic" id="mitabla">
                         <tr><th>ID</th> <th>Categoria</th><th>Titulo</th><th>Autor</th> <th>Tiempo</th> <th class="text-center">Opcion</th></tr>
                
                 </table>
                </div>
                
                <h2 class="fw-bolder fst-italic text-center"> <a href="../index.html">Regesar a la pagina principal</a></h2>     
        </article>    
    </div>        
</body>
