<body background="../../../assets/img/FONDO_SUBPAGINAS.jpeg">
    <div class="container">
        <article>
            <h1 class="fw-bolder fst-italic"> ► Servicios</h1>
   
            <section>
            <p class="fst-italic"> Brindamos distintos servicios para una experiencia agradable y magico dentro de nuestros espacios</p>
   
            <div class="row">
                <div class="col-lg-4"> 
                   <img class="rounded mx-auto d-block" src="../../../assets/img/libro-atencion2.jpg" width="320">  
                </div>
               <div class="col-lg-8">
               <h3 class="fw-bolder fst-italic">Consulta y lectura en sala</h3>     
               <p class="fst-italic">
               Los usuarios pueden disfrutar este servicio en cualquiera de las salas de lectura como la general, infantil o hemeroteca, donde los usuarios disponen de una gran cantidad de títulos, ubicados en estantería abierta, bien señalizada y con información sistematizada para la fácil ubicación del usuario. Permanentemente en las salas los usuarios pueden encontrar en el centro de interés una exhibición de libros recomendados de acuerdo al tema de interés del momento. 
               </p>    
               </div>
            </div>
           <br>
           <div class="row">
               <div class="col-lg-4"> 
               <img class="rounded mx-auto d-block" src="../../../assets/img/libro-prestamo.jpg" width="320" target="_blank"  >  
               </div>
              <div class="col-lg-8">
              <h3 class="fw-bolder fst-italic">Prestamos de libros</h3>     
              <p class="fst-italic">
               Otro servicio de la biblioteca es el préstamo de libros para la casa, al cual solo pueden acceder los usuarios que se regristren presencialmente. Los libros de filosofia se prestan por una semana prorrogable, si es necesario, pero los libros de consulta de alto tráfico, solo se prestan durante los fines de semana.<br>
               Para facilitar el registro para obtener prestado el material, los usuarios pueden acudir a los Referencistas, quienes están dispuestos a atender cualquier solicitud. Igualmente se pueden imprimir bibliografías por temas, autores, etc.<br>
               Puedes solicitar un prestamo mediante este link <a href="prestamo.html "target="_blank">Solicitar prestamo</a>
               
              </p>    
              </div>
           </div>
           <br>
           <div class="row">
             <div class="col-lg-4"> 
               <img class="rounded mx-auto d-block" src="../../../assets/img/internet.png" width="320" >
             </div>
            <div class="col-lg-8">
            <h3 class="fw-bolder fst-italic">Acceso a intenet </h3>     
            <p class="fst-italic">
            Los usuarios de la Biblioteca Pública Departamental Meira Delmar disponen del  servicio de internet en la sala con 32 computadores de escritorio. También pueden utilizar el servicio en sala multimedia donde disponen de 20 computadores portátiles y 10 tabletas. Asimismo todos los que posean un dispositivo pueden hacer uso del servicio a través del wifi disponible en todos los lugares de la biblioteca y la plazoleta.   
            </p>    
            </div>
         </div>
         <br>
           <div class="row">
               <div class="col-lg-4"> 
                <img class="rounded mx-auto d-block" src="../../../assets/img/sala-lectura.jpg" width="320" >
               </div>
              <div class="col-lg-8">
              <h3 class="fw-bolder fst-italic">Sala de lectura</h3>     
              <p class="fst-italic">
               La Biblioteca tiene disponibles 51 puestos de lectura, cada uno cuenta con una buena conexión eléctrica para los dispositivos electrónicos 
               de los usuarios, en un ambiente que favorece la lectura y la investigación. La conexión wifi gratuita
               permite que los lectores puedan acceder a Internet desde sus computadores portátiles, tabletas y/o celulares. Para una mejor experiencia reserve un cupo 
               antes de venir a la biblioteca
              <a href="lectura.html"target="_blank"> Reservar Cupo</a>
              </p>    
              </div> 
           <br>     
           </div>
           </section>
   
           <section>
            <div>
              <p class="fs-4 fw-bolder fst-italic">
                Estos son los servicios que brindamos para que tu estadia sea agradable. Te estamos esperando para fortalecer tu conocimiento con nosotros.
                Brindamos nuestro servicio las 24 horas
              </p>
            </div> 
            <!--FIN DEL CONTENIDO-->         
           <br>
           <br>
         </section>    
        </article>
    </div>  
  </body>
