<body background="../../../assets/img/FONDO_SUBPAGINAS.jpeg">
  <div class="container">
    <!--- inicio del menu-->
     <nav class="navbar navbar-expand-lg navbar-light bg-dark">
       <div class="container-fluid">
         <a class="navbar-brand text-white" href="#">Menú</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
             <div class="navbar-nav">
               <a class="nav-link active text-white" aria-current="page" href="#">Principal</a>
               <a class="nav-link text-white" href="../article2/article2.component.html">Filosoficos</a>
               <a class="nav-link text-white" href="../article3/article3.component.html">Ciencias</a>
               <a class="nav-link text-white" href="../article4/article4.component.html">Tecnologicos</a>
               <a class="nav-link text-white" href="../article5/article5.component.html">Servicio</a>
             </div>
         </div>
       </div>
      </nav>
      <!---fin del menu-->
      <br>
  </div>    
</body>