<body background="../../../assets/img/FONDO_SUBPAGINAS.jpeg"> 
<div class="container">
<article>

  <section>
  <div class="row">
    <div class="col-lg-4">
     <b> <h1 class="text-start text-dark fw-bolder fst-italic"> ► MISION</h1>
      <p class="text-start fst-italic fw-bold">Facilitar, optimizar, prooveder recursos y servicios informativos de calidad a la comunidad universitaria con eficiencia, confiabilidad desarrollando Permanentemente competencias en el usuario para la gestion de conocimiento.</p></b> 
    </div>
    <div class="col-lg-4">
      <img src="../../../assets/img/MISION-VISION.png">
    </div>
    <div class="col-lg-4">
      <b><h1 class="text-end text-dark fw-bolder fst-italic"> VISION ◄</h1> 
        <p class="text-end fst-italic fw-bold">Ser reconocidos totalmente en el futuro con competitividad, siendo un referente para las bibliotecas universitarias a nivel local y regional, caracterizada hacia el apoyo del crecimiento personal y profesional de sus visitantes y su aporte para el mejoramiento de la investigacion y la calidad en el servicio y educacion.</p></b>
    </div>
</div>
 <hr>
</section>

 <section>
   <div class="row">
     <div class="col-lg-12 text-center">
       <img src="../../../assets/img/QUIENES-SOMOS.png" width="400">
     </div>
   </div>
   <br>
 </section>

 <section>
  <div class="row">
    <div class="col-lg-12 text-center ">
      <b><h4 class="fw-light fst-italic">Somos una entidad encargada de preservar y catalogar el patrimonio bibliografico y documental de diferentes categorias para ponerlos al servicio de investigadores.</h4></b>
    </div>
  </div>
  <br>
  <hr>
</section>


 <section>
 <div class="row">
  <div class="col-lg-8 fst-italic">
      <b><p>Esta pagina consta de una explicacion detallada a la informacion online que se maneja en nuestra biblioteca, 
        en cada subpagina encontrada en el menu podran visualizar los libros mas caracteristicos en cada una de estas categorias, 
        por ultimo en la parte de "servicos"se desplegara informacion acerca de las comodidades que este lugar ofrece...
        Anexamos link de la<a href="https://www.bidi.unam.mx/" target="_BLANK"> pagina de la biblioteca LA CENTRAL</a>  </p></b>
   </div>
   <div class="col-lg-4 fst-italic">
    <img src="../../../assets/img/biblioteca.UNAM.jpg">
 </div>   
 </div>
 <br>
</section>

<section>
<b><table class="table table-dark table-striped fst-italic fw-light">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Categorias</th>
    <th scope="col ">Imagen</th>
    <th scope="col ">Descripcion</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Filosoficos</td>
    <td><img src="../../../assets/img/libros-filosoficos.png" width="200"></td>
    <td><p class="text-start fst-italic fw-bold">La filosofía aporta herramientas de pensamiento crítico que ayudan a cuestionar la tradición y la autoridad. ... Es el esfuerzo por pensar, pensar mejor para vivir mejor.</p></td>
    
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Ciencia</td>
    <td><img src="../../../assets/img/ciencia-libros.jpg" width="200"></td>
    <td><p class="text-start fst-italic fw-bold">Estos libros suponen una fuente importante de referencias primarias en los diversos campos de la investigación científica y proporcionan información básica para el estudio de sus desarrollos históricos </p></td>
    
  </tr>
  <tr>
    <th scope="row">3</th>
    <td >Tecnologicos</td>
    <td><img src="../../../assets/img/tecnologicos-libro.jpg" width="200"></td>
    <td><p class="text-start fst-italic fw-bold">Los libros electrónicos se pueden leer en dispositivos dedicados de lectura electrónica, pero también en cualquier dispositivo de computadora que tenga una pantalla de visualización controlable, incluyendo computadoras de escritorio, ordenadores portátiles, lector de libros electrónicos y teléfonos inteligentes.</p></td>
    
  </tr>
</tbody>
</table></b>

</section>

<br>
<b>
<p class="text-center fst-italic fw-bold">En la opcion de menu encontramos un parte de "SERVICIOS" donde ahi se mostrara los planes que tenemos ofertados para el momento de tenerte con nosotros... Visitalos y enterate de lo que tenemos para ti.
Quieres ser parte de esta maravillosa familia. Que esperas  <a href="formulario/formulario.component.html">Registrate</a>  
</p>
</b>

<br>

<section>

<div class="row">
<div class="col-lg-6 text-center">
  <b> <h6 class="text-dark fw-bolder fst-italic">  _________________ SU UBICACION _________________ </h6> </b>
</div>
<div class="col-lg-6 text-center">
  <b> <h6 class="text-dark fw-bolder fst-italic"> _________________ ESTRUCTURACION EN VIDEO _________________ </h6> </b>
</div>
</div>

<div class="row">
<div class="col-lg-6">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.825167685154!2d-99.18953078509486!3d19.33339138694071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce00005feef997%3A0xb7b5a1cccc88c89!2sBiblioteca%20Central%20UNAM!5e0!3m2!1ses!2sco!4v1632074242464!5m2!1ses!2sco" width="550" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="col-lg-6">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-iz5dM3GvBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="row">

<div class="col-lg-6 text-center">
<b class="fw-bold fst-italic"><p> ________________________________________________</p></b>
</div>

<div class="col-lg-6 text-center">
<b class="fw-bold fst-italic"><p>_________________________________________________</p></b>
</div>

</div>
</section>

</article>  
</div>

</body>